{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <script src="{% static 'main/js/reset_password.js' %}"></script>
    <link rel="stylesheet" type="text/css" href={% static 'main/css/login.css' %}>

<div class="container">
    <div class="login-container">
        <div class="circle circle-one"></div>
        <div class="form-container">
            <form action="{% url 'reset password finally' uid64=uid token=token %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}"/>

                <input name="password1" type="password" id="password1" autocomplete="new-password" placeholder="Введіть новий пароль" class="your-password-class">
                <input name="password2" type="password" id="password2" autocomplete="new-password" placeholder="Повторіть ще раз пароль" class="your-password-class">

                <div class="form-group" id="signup-button">
                    <button class="btn">Надіслати</button>
                </div>
            </form>
        </div>
        <div class="circle circle-two"></div>
    </div>
</div>

<script>
    const form = document.querySelector('form');
    const password1 = document.querySelector('#password1');
    const password2 = document.querySelector('#password2');
    form.addEventListener('submit', function(evt) {
      evt.preventDefault();
      if(password1.value !== password2.value) {
        alert('Введіть два ОДНАКОВИХ пароля');
        return;
      }

      this.submit();
    });
</script>
{% endblock %}