{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <script src="{% static 'main/js/reset_password.js' %}"></script>
    <link rel="stylesheet" type="text/css" href={% static 'main/css/login.css' %}>

<div class="container">
    <div class="login-container">
        <div class="circle circle-one"></div>
        <div class="form-container">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}"/>

                <label for="data">Введіть свій email або телефон</label>
                <input name="data" id="email" autocomplete="email" oninput="validateInputData(this)" placeholder="Введіть свій email" class="your-email-class">

                <div class="form-group" id="signup-button">
                    <button class="btn">Надіслати</button>
                </div>
            </form>
        </div>
        <div class="circle circle-two"></div>
    </div>
</div>
{% endblock %}